<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Viewport meta tag is critical to have mobile browsers
    actually report correct screen dimensions -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <title>{{title}}</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.css" />
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-social.css" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
  </head>
  <body>
    {{!-- Fixed navbar --}}
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
            data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">{{title}}</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <!--<li class="active"><a href="#">GAME INFO</a></li>-->
            <li><a href="/news">News</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                aria-expanded="false">Game Info<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/beginner-guides">Beginner Guides</a></li>
                <li><a href="/heroes">Heroes</a></li>
                <li><a href="/stickers">Stickers</a></li>
                <li><a href="/book-pages">Book Pages</a></li>
                <li><a href="/game-modes">Game Modes</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                aria-expanded="false">Media<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/artwork">Artwork</a></li>
                <li><a href="/screenshots">Screenshots</a></li>
                <li><a href="/videos">Videos</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                aria-expanded="false">Community<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/feedback">Feedback & Discussions</a></li>
                <li><a href="/bug-report">Bug Report</a></li>
              </ul>
            </li>
            <li><a href="/support">Support</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            {{#if user}}
            <li>
              <a href="" title="Notifications">
                <i class="fa fa-bell" aria-hidden="true"> 0</i>
              </a>
            </li>
            <li class="dropdown">
              <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                aria-expanded="false">
                {{user.username}}
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li><a href="/users/profile">My Profile</a></li>
                <li><a href="">Settings</a></li>
                <li><a href="/users/logout">Logout</a></li>
              </ul>
            </li>
            {{else}}
            <li><a href="/users/signup">Sign Up</a></li>
            <li><a href="/users/login">Login</a></li>
            {{/if}}
          </ul>
        </div>
        {{!-- End class="navbar-collapse collapse" --}}
      </div>
    </nav>
    <div class="container">

      {{#if success_msg}}
        <div class="alert alert-success">{{success_msg}}</div>
      {{/if}}

      {{#if error_msg}}
        <div class="alert alert-danger">{{error_msg}}</div>
      {{/if}}

      {{#if error}}
        <div class="alert alert-danger">{{error}}</div>
      {{/if}}

      {{{body}}}

      <footer class="footer">
        <p>&copy; 2016 Magical Heroes</p>
      </footer>

    </div>
    {{!-- End class="container" --}}

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
